body {
    /* background-color: ; */
    margin: 0;
    padding: 0;
}


.heading {
    font-size: 50px;
    font-weight: 700;
    color: darkgreen;
    text-align: center;
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: green;
}

.logo-img {
    width: 105px;
    height: 65px;

}

.nav {
    max-width: 1000px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-right a {
    padding-right: 3px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 1100px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin: 0 auto;
    padding-top: 40px;
}
.otherPc {
    display: none;
    position: fixed;
    top: 180px;
    right: 50px;
    width: 200px;
    background-color: lightgreen;
    height: 150px;
    padding: 20px;

}

.burger-link_other {
    background-color: yellowgreen;
    color: white;
    font-size: 20px;
    border: 0px;
    margin-top: 20px;
}
.burgerAdditionalMenu {
    display: none;
    position: absolute;
    top: 105px;
    right: 30px;
    width: 200px;
    background-color: lightgreen;
    height: 100px;
    padding: 20px;
    z-index: 50;
}
.burgerAdditionalMenu {
    font-size: 20px;
}
.hidden {

}

.otherPc-link:hover {
    color: blue
}
.main-description {
    max-width: 600px;
}

.footer {
    background-color: lightgreen;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
}

.footer-block {
    padding-top: 5px;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-link-img {
    width: 30px;
    height: 30px;
}

.img-about {
    width: 200px;
    height: 200px;
}

.shrek-about {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 20px;
}

/* form styles */
.formtitle {
    text-align: center;
}
form {
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.submit-form {
    margin-top: 15px;
}

label {
    font-size: 14px;
    color: #555;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.video {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.audioBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.audioBlock audio {
    margin-top: 30px;
}

.video video {
    margin-bottom: 30px;
    max-width: 500px;
}
.pictures-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pictures-block_img {
    width: 300px;
    height: 200px;
    padding-bottom: 40px;
}

/*! Burger menu styles */
.burger {
    background-color: green;
    min-width: 100%;
    height: 40%;
    position: fixed;
    top: 0;
    display: none;
    z-index: 50;
}
.burger-link {
    color: white;
    list-style-type: none;
    font-size: 30px;
}

.active {
    display: block;
}

.burger_button {
    background-color: darkgreen;
    padding: 15px;
    color: white;
    border: 0;
    border-radius: 16px;
    margin-left: 75%;
    display: none;
}

.burger-link:hover {
    color: darkgreen;
}

li {
    list-style-type: none;
}

.buttonBurgerClose {
    position: fixed;
    top: 30px;
    right: 20px;
    color: lightcyan;
    font-size: 40px;
}

.buttonBurgerClose:hover {
    color: red;
}


/* ! */
.pictures {
    max-width: 800px;
    margin: 0 auto;
}
@media (max-width: 1000px) {
    .nav {
        max-width: 679px;
    }
    .main-description {
        margin-left: 30px;
    }
}
    @media (max-width: 900px) {
    .pictures-block_img {
        max-width: 300px;
        height: 200px;
    }    
    .pictures-block {
        max-width: 680px;
        justify-content: space-between;
        margin: 0 auto;
    }
    .main-description {
        font-size: 12px;
    }
}

@media (max-width: 680px) {
    .nav {
        display: none;
    }
    .burger_button {
        display: block;
    }
    .pictures-block_img {
        max-width: 200px;
    }
    .nav {
        max-width: 550px;
    }
    .pictures-block {
        max-width: 500px;
        justify-content: space-between;
        margin: 0 auto;
    }
}
@media (max-width: 550px) {
    .nav {
        max-width: 400px;
    }
}

@media (max-width: 500px) {
    .nav {
        max-width: 400px;
    }
    .video video {
        margin-top: 20px;
        max-width: 250px;
    }
    .pictures-block {
        max-width: 400px;
        justify-content: space-between;
        margin: 0 auto;
    }
    .pictures-block_img {
        width: 150px;
    }
}


/* calculator */

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .calculator h1 {
    margin-bottom: 20px;
  }
  
  .calculator input,
  .calculator select {
    width: 100px;
    margin: 10px;
    padding: 5px;
    font-size: 1.2em;
  }
  
  .calculator button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .calculator button:hover {
    background-color: #218838;
  }
  
  .result {
    margin-top: 20px;
    font-size: 1.5em;
  }


  /* calculator with tan cot sin cos */
